html{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    list-style: none;
	height: 100%;
}

body{
    margin: 0;
    padding: 0;
	height: 100%;
	
}



  /* header */
  
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 40px;
    height: 40px;   
    position: relative;
    width: 1610px;
    
}

a{
    text-decoration: none;
    color: rgb(245, 189, 189);
    transition: .4s ease all;
    font-size: bold;   

}

a:hover{
    /* text-indent: 20px; */
    position: relative;
    top: -1px;
    /* box-shadow: 0 1px 0 rgba(rgb(255, 255, 255), 0.15); */
     box-shadow: 0px 1px 0px #FAD45C;  /* cambia de otra forma mas lindo */
}

a:before {
    transform: scale(1,1);
    text-indent: 0;
    opacity: 1;
  }


.store-logo{
    display: flex;
   /*  padding: 30px 70px; */
    height: 60px;
    align-items: center;
}


.store-logo a{
    text-decoration: none;
    display: block;
    margin: 0;
    color: #ffffff;
    padding: 0px 0px;
      
}

.store-logo a#text{
    padding: 0px 57px;
    padding-left: 0px;
}

.store-logo img {
    width: 50px;
    height: auto;
    margin: 0;

}

.title{
    /* width: 60px; */
    /* height: auto; */
    margin: 0;
    text-align: center;

}

/* Logo */ 

.store-logo h1{
    float:right;
    font-family: 'Architects Daughter', cursive;
    font-size: 22px;
	line-height: 40px;
	margin: -50px;
    padding-left: 75px;
    
}

/* nav */

.navbar{
    
    color: #ffffff;
    line-height: 35px;
	float: right;
    width: 1500px;
    align-items:flex-start;
    
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
	/* padding: 0 200px; */
    opacity: 0.9;
    flex-direction: row;
    height: 40px;
    padding-left: 850px;
    padding-right: 0px;
    width: 500px;
}

.navbar li{
    margin: 0 10px;
}

.navbar a:hover{
    opacity: 1;
}

/* main */

main{
    height: 1690px;
    width: 1690px;
	padding-bottom: 300px;
}


#products{
	height: 1200px;
	display: grid;
	/* grid-template-columns: repeat(3,470px); */
	grid-template-columns: auto auto auto;
	padding-top: 300px;
	padding-left: 175px;
	padding-right: 175px;
	grid-template-rows: 600px 2fr;


	
}

.row-list-group{
	display: grid;
	width: 400px;
	height: 470px;


}

.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
	display: grid;
	width: 400px;
	height: 470px;

}

.thumbnail img{
	height: 250px;
	width: 400px;
	display: flex;
}

#products .item{
	width: 400px;
	height: 500px;

}

.col-xs-12.col-md-6{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.btn.btn-success {
  background-color: #E1C03A;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 30px;
  line-height: 10px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.btn.btn-success:hover,
.btn.btn-success:focus {
  /* background-color: #a5892c; */
  box-shadow: 5px 5px 7px #c8c8c8, -5px -5px 7px white;
}

.btn.btn-success p{
    cursor:pointer;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    transition:.8s ease all ;
    border: 0;
    border-radius: 7px;
    letter-spacing: .5px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;

}

.btn.btn-success:active{
    box-shadow: 2px 2px 2px #c8c8c8, -2px -2px 2px white;
}



.caption{
	width: 400px;
	height: 215px;

}
.caption p{
	font-size: 14px;
	height: 42px;
    text-align: center;
}
/* .caption h4{
	width: 400px;
	height: 27px;
	margin-top: 24px;
	margin-bottom: 24px;
} */

.caption .row{
	width: 400px;
	height: 78px;
}


/* footer */

.max-w-2xl {
    width: 1690px;
    height: 70px;
    display: flex;
    
}
footer{
    width: 1690px;
    height: 70px;
    display: flex;
    align-items: center;
    
}

footer span{
    padding-left: 500px;
   /*  display: flex; */
}

footer .flex{
    display:flex;
    list-style: none;
    margin: 0px;
    align-items: flex-start;

}

footer .flex li{
    padding-left: 10px;
    padding-right: 10px;
}

footer a{
    color: #A07B05;
}